button
{

    width: 100%;
    height: 100%;
}
.btn{
    font-size: 4rem;
}
input,text{
    height: 100%;
    
}

table{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: auto;
    font-size: 4rem;
    width: 800px;
    height: 500px;
}

 td{
    width:100px;   
    border-radius: 1;
    /* font-size: 11.5rem;  */
} 
