.name{
  justify-content: right;
  text-align: right;
  padding: 20px;
  color:#000000;
  font-size: 4rem;
}

.resume-block{
  margin-top: 2.5%;
  background-color: #ffffff;
  border-radius: 12px;
}

.float-right{
  justify-content: right;
  padding: 10px;
  float: right;
}

.card, .card-body {
  background-color: rgb(255, 255, 255);
  border: 0px solid rgba(255, 255, 255, 0.125);  
}

.card-title{
  color: #000000;
  font-size: x-large;
}

.a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.card-img, .card-img-top, .card-img-bottom {
  width: 50%;
  height: 200px;
}

.list-group-item, .spacing{
  text-align:justify;
  font-size: 18px;
  
}

.designation-block{
  align-content: center;
  text-align: right;
  margin-top: 1.5rem;
}

.designation{
  font-size: 24px;
}
